Django>=3.0,<4.0
gunicorn==20.0.4
mysqlclient
requests
Pillow
djangorestframework
django-cors-headers
sendgrid
unidecode
beautifulsoup4
selenium
webdriver_manager
packaging
django-pwa
celery
rut_chile
boto3
django-storages
pymongo